praw
tensorflow
tf-keras
vaderSentiment
nltk
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
geopy
dotenv
transformers
tqdm
flask
flask_sqlalchemy
dash
folium
wordcloud
sqlalchemy
pandas
dash-bootstrap-components
gunicorn
